<head>
</head>

<body>
    
    <div class="body" >
            <h3 > Sellcraft Quickselect</h3>

            <div class="row cards">

                <div class="col-md-5 card1">

                    <mat-card class="example-card1">
                        <mat-card-header>
                            <div mat-card-avatar class="example-header-image"></div>
                            <mat-card-title >Company</mat-card-title>

                        </mat-card-header>
                        <img mat-card-image
                            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR99Sn2sg55n5hDNq8WY_I1Dc3HwPsAYEn-GLnabDa5TtyJfBNfRw"
                            alt="Photo of a company">
                        <mat-card-content>
                            <p>
                                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from
                                Japan.
                                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was
                                originally
                                bred for hunting.
                            </p>
                        </mat-card-content>
                        <mat-card-actions>
                            <button mat-button (click)="company()">Proceed</button>

                        </mat-card-actions>
                    </mat-card>

                </div>
                <div class="col-md-5 card2">

                    <mat-card class="example-card2">
                        <mat-card-header>
                            <div mat-card-avatar class="example-header-image"></div>
                            <mat-card-title >Job Seeker</mat-card-title>

                        </mat-card-header>
                        <img mat-card-image
                            src="https://static.vecteezy.com/system/resources/previews/000/169/149/non_2x/vector-job-seeker-illustration.jpg"
                            alt="Photo of a jobseeker">
                        <mat-card-content>
                            <p>
                                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from
                                Japan.
                                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was
                                originally
                                bred for hunting.
                            </p>
                        </mat-card-content>
                        <mat-card-actions>
                            <button mat-button (click)="employee()">Proceed</button>

                        </mat-card-actions>
                    </mat-card>

                </div>
            </div>
        </div>
      
</body>
<router-outlet></router-outlet>