<head>
</head>

<body>
    
    <div class="body" >
        <!-- <div style="background-image:url('http://myzeroone.com/myzeroone/17480-business-meeting-wallpaper_24590.jpg');"> -->
            <h3 > Sellcraft Quickselect</h3>

            <!-- Card -->
            <!-- <mat-card
        style=" background-image : url('https://https://i.pinimg.com/originals/62/73/75/62737548c4ab90f70aae8103d72091b4.jpg.com/img/Photos/Horizontal/Work/4-col/img%20%2814%29.jpg')"
        class="card-image mb-3">

    
        <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
            <div>
                <h5 class="pink-text">
                    <mat-icon fas icon="chart-pie"></mat-icon>
                    Marketing
                </h5>
                <h3 class="card-title pt-2"><strong>This is card title</strong></h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat, laboriosam, voluptatem,
                    optio vero odio nam sit officia accusamus minus error nisi architecto nulla ipsum dignissimos.
                    Odit sed qui, dolorum!.</p>
                <a matBtn color="pink" class="waves-light" matWavesEffect>
                    <mat-icon far icon="clone" class="left"></mat-icon>
                    View project
                </a>
            </div>
        </div>
        
    </mat-card> -->
            <!-- Card -->


            <!-- <mat-card style="background-image: url('https://mbdootstrap.com/img/Photos/Horizontal/City/6-col/img%20(47).jpg')"
        class="card-image mb-3">

        
        <div class="text-white text-center d-flex align-items-center rgba-indigo-strong py-5 px-4">
            <div>
                <h5 class="orange-text">
                    <mat-icon fas icon="desktop"></mat-icon>
                    Software
                </h5>
                <h3 class="card-title pt-2"><strong>This is card title</strong></h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat, laboriosam, voluptatem,
                    optio vero odio nam sit officia accusamus minus error nisi architecto nulla ipsum dignissimos.
                    Odit sed qui, dolorum!.</p>
                <a matBtn color="deep-orange" class="waves-light" matWavesEffect>
                    <mat-icon far icon="clone" class="left"></mat-icon>
                    View
                    project
                </a>
            </div>
        </div>

    </mat-card> -->

            <div class="row cards">

                <div class="col-md-5 card1">

                    <mat-card class="example-card1">
                        <mat-card-header>
                            <div mat-card-avatar class="example-header-image"></div>
                            <mat-card-title >Company</mat-card-title>

                        </mat-card-header>
                        <img mat-card-image
                            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR99Sn2sg55n5hDNq8WY_I1Dc3HwPsAYEn-GLnabDa5TtyJfBNfRw"
                            alt="Photo of a company">
                        <mat-card-content>
                            <p>
                                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from
                                Japan.
                                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was
                                originally
                                bred for hunting.
                            </p>
                        </mat-card-content>
                        <mat-card-actions>
                            <button mat-button (click)="company()">Proceed</button>

                        </mat-card-actions>
                    </mat-card>

                </div>
                <div class="col-md-5 card2">

                    <mat-card class="example-card2">
                        <mat-card-header>
                            <div mat-card-avatar class="example-header-image"></div>
                            <mat-card-title >Job Seeker</mat-card-title>

                        </mat-card-header>
                        <img mat-card-image
                            src="https://static.vecteezy.com/system/resources/previews/000/169/149/non_2x/vector-job-seeker-illustration.jpg"
                            alt="Photo of a jobseeker">
                        <mat-card-content>
                            <p>
                                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from
                                Japan.
                                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was
                                originally
                                bred for hunting.
                            </p>
                        </mat-card-content>
                        <mat-card-actions>
                            <button mat-button (click)="employee()">Proceed</button>

                        </mat-card-actions>
                    </mat-card>

                </div>
            </div>
        </div>
      
</body>
<router-outlet></router-outlet>