.well {
  padding: 30px;
  padding-left: 30px;
  margin: 3% auto 0;
  width: 500px;
  margin-left: 48%;
}

.input-group {
  padding-top: 4%;
  opacity: 0.4;
}

body {
  background-image: url("https://images.pexels.com/photos/34131/pexels-photo.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  padding: 4%;
  height: 110vh;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -moz-background-size: cover;
  background-attachment: relative;
}

body {
  background-color: #dedede;
}

.input-group-addon {
  background-color: #1867ce;
  color: #1867ce;
}

.alert {
  font-size: 0.7em;
  color: red;
 padding-bottom: 0%;
 margin-bottom:0px;
  animation: 2s alertAnim backwards;
}

button {
  margin: 3%;
  margin-left: 0px;
}

input {
  border-radius: 10px;
}

h3 {
  text-shadow: 1px 1px rgb(53, 164, 184);
  font-family: "BioRhyme", serif;
  font-size: 2em;
}

form.form input[type="text"],
form.form input[type="email"],
form.form input[type="number"],
form.form input[type="search"],
form.form input[type="password"],
form.form textarea {
  background-color: rgb(255,255,255);
  border: 1px solid rgb(82, 80, 80);
  border-radius: 8px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.08);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.08);
  display: block;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, 'lucida grande', tahoma, verdana, arial, sans-serif;
  font-size: 14px;
  margin: 0px 0 0px 0;
  padding: 6px;	
  text-shadow: 0 1px 1px rgba(255, 255, 255, 1);
  width: 100%;
  
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
    transition: all 0.1s linear;
}

form.form input[type="text"]:focus,
form.form input[type="email"]:focus,
form.form input[type="number"]:focus,
form.form input[type="search"]:focus,
form.form input[type="password"]:focus,
form.form textarea:focus,
form.form select:focus { 
      border-color: #4195fc;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 0 8px #4195fc;
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 0 8px #4195fc;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 0 8px #4195fc;
  color: rgb(0,0,0);
}

  form.form input[type="text"]:invalid:focus,
  form.form input[type="email"]:invalid:focus,
  form.form input[type="number"]:invalid:focus,
  form.form input[type="search"]:invalid:focus,
  form.form input[type="password"]:invalid:focus,
  form.form textarea:invalid:focus,
  form.form select:invalid:focus { 
    border-color: rgb(248,66,66);
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 0 8px rgb(248,66,66);
    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 0 8px rgb(248,66,66);
      box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 0 8px rgb(248,66,66);
  }